<{include file="header.html"}>
<h1><{$item.name}></h1>
<div class="htmlFrame"><div style="padding-bottom: 10px; font-size: xx-small;"><{$item.scontent}></div><table><tbody><tr><td><img class="pg_thumb" src="<{$item.image}>" alt="Game" style="width: 64px; height: 64px;"></td><td><div class="xsmall"><div><img src="stars_0.gif" alt="3 sao"></div>
<div>S&#7889; l&#7847;n t&#7843;i: <{$item.clicked}></div>
<div>
  <a href="#">B&igrave;nh lu&#7853;n(29)</a>
  </div>
<div>Giá : <{$item.price|number_format:0:",":"."}> vnđ</div>
</div></td></tr></tbody></table>
<div class="vPad10"><a href="buy.php?pid=<{$item.id}>" rel="nofollow"><strong>Mua <{$item.price|number_format:0:",":"."}> vnđ </strong></a></div>
<div style="font-size: xx-small; padding-top: 10px;">
  <p>Giới thiệu:</p>
  <div style="padding-bottom: 10px; font-size: xx-small;"><{$item.content}></div>
  </div>
</div>
<{include file="footer.html"}>

