<a class="rlA" href="#"></a>
<a class="rlA" href="#"></a>

<div class="fLinks">
<div class="rl">&lt;<a class="rlA" href="#">Quay l&#7841;i </a>  |  ^<a class="rlA" href="#top">L&ecirc;n &#273;&#7847;u trang </a>  |  <<a class="rlA" href="#">Trang ch&#7911; </a></div>
</div>

  <div class="fLinks">
    <div class="padBot5"><a href="#">H&#7895; tr&#7907; &amp; H&#432;&#7899;ng d&#7851;n </a> | <a href="#">Li&ecirc;n h&#7879; </a> | <a href="#">Giao di&#7879;n website </a><br>
      <a href="#">D&#7883;ch v&#7909; </a> | <a href="#">Quy &#273;&#7883;nh</a></div>
    <div class="padBot5">© 2010 - 2011 Thinknet, Inc.</div>
  </div>
  <div class="fNotice">Ho&#7841;t &#273;&#7897;ng tr&ecirc;n 3 nh&agrave; m&#7841;ng l&#7899;n: Mobi,Vina,Viettel.</div>
  <div class="fNotice">H&#7895; tr&#7907; h&#7847;u h&#7871;t c&aacute;c d&ograve;ng m&aacute;y di&#7879;n tho&#7841;i Nokia, Sony Ericsson, Samsung, LG, HTC,
Apple iPhone, Blackberry, Motorola v&agrave; &#273;i&#7879;n tho&#7841;i tr&ecirc;n n&#7873;n t&#7843;ng Android.</div>
  
  </div>

<script>
var parent_id = "<{$parent_id|default:0}>";
var page = "<{$Page|default:new}>";


$(document).ready(function($) {	

	if(page == 'new'){
		$("#page-promotion").removeClass("current_nav");
		$("#page-recommend").removeClass("current_nav");
		$("#page-new").toggleClass("current_nav");	
		
		$("#page-promotion-bottom").removeClass("current_nav");
		$("#page-recommend-bottom").removeClass("current_nav");
		$("#page-new-bottom").toggleClass("current_nav");					
					
	}else if((page == 'recommend')){
		$("#page-promotion").removeClass("current_nav");
		$("#page-recommend").toggleClass("current_nav");
		$("#page-new").removeClass("current_nav");	
		
		$("#page-promotion-bottom").removeClass("current_nav");
		$("#page-recommend-bottom").toggleClass("current_nav");
		$("#page-new-bottom").removeClass("current_nav");	
		
	}else if((page == 'promotion')){
		$("#page-promotion").toggleClass("current_nav");
		$("#page-recommend").removeClass("current_nav");
		$("#page-new").removeClass("current_nav");	
		
		$("#page-promotion-bottom").toggleClass("current_nav");
		$("#page-recommend-bottom").removeClass("current_nav");
		$("#page-new-bottom").removeClass("current_nav");	

	}
	
});
</script>
  
</body>
</html>